.App{
    text-align: center;
}

h2:hover{
    cursor: pointer;
}

.navigation-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    background-color: rgb(156, 148, 148);
    color: white;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    list-style-type: none;
}
.linkstyle{
    color: white;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
}